<?xml version="1.0" encoding="utf-8"?>

<!--    CardBinder - a Magic: The Gathering collector's app.-->
<!--    Copyright (C) 2024 Catalin Duta-->
<!--    -->
<!--    This program is free software: you can redistribute it and/or modify-->
<!--    it under the terms of the GNU General Public License as published by-->
<!--    the Free Software Foundation, either version 3 of the License, or-->
<!--    (at your option) any later version.-->
<!--    -->
<!--    This program is distributed in the hope that it will be useful,-->
<!--    but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--    GNU General Public License for more details.-->
<!--    -->
<!--    You should have received a copy of the GNU General Public License-->
<!--    along with this program.(https://github.com/dutaci28/CardBinder?tab=GPL-3.0-1-ov-file#readme).-->
<!--    If not, see <https://www.gnu.org/licenses/>.-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cardbinder_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cardbinder_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardBinder"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CardBinder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>